.pmpro_table {
  width: 100%;
  float: left;
  clear:both;
  thead {
    tr {
      th {
        padding: 10px;
        background-color: $color-offwhite;
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 10px;
        &.pmpro_cancel-membership-cancel {
          a {
            min-width: 100px;
            background-color: $color-red;
            color: $color-white;
            padding: 5px;
            border-radius: 5px;
          }
        }
      }
    }
  }
}

.pmpro_actions_nav {
  width: 100%;
  float: left;
  clear:both;
  margin-top: 20px;
  a {
    min-width: 100px;
    float: left;
    background-color: $color-red;
    color: $color-white;
    padding: 5px;
    border-radius: 5px;
  }
}
