.thp-checkmark {
  display: none!important;
}
.thp-popup-mult-bottom {
  display: none!important;
}
.thp-addcheckedtocart-btn {
  display: none!important;
}
.thp-carousel-cell {
  cursor: pointer;
}
.thp-popup-prod-title {
  text-align:center!important;
}
.thp-popup-price {
  text-align:center;
}
.thp-button-no {
  margin-top: 20px!important;
}
